*{
	font-family: 'Poppins', sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	line-height: 1;
	text-decoration: none;
	color: white;
}

body{
	display: flex;
	width: 100%;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

.content{
	width: 650px;
	height: 450px;
	border: 1px solid #040404;
	display: flex;
	background-image: url(3.jpg);
	background-size: cover;
}

main{
	width: 60%;
	display: flex;
	align-items: flex-end;
	padding: 30px;
}

aside{
	width: 40%;
	background-color: rgba(0,0,0,0.3);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	padding: 10px 20px;
}

.info{
	display: grid;
	align-items: center;
	grid-template-columns: 1fr 2fr;
	gap: 10px;
	text-shadow: 1px 2px 2px #19b1e9;
}

h1{
	font-size: 5em;
}

h2{
	font-size: 2.5em;
}

.find{
	display: flex;
	height: 40px;
	justify-content: space-between;
	margin-bottom: 20px;
}

.find input{
	width: 70%;
	background: none;
	border-style: none;
	border-bottom: 1px solid #19b1e9;
}

.find input:hover{
	color:#19b1e9;
}  /* no encuentro lo que hace*/
.find input:placeholder{
	color: rgb(28, 30, 138);
}


.find input:focus{
	font-size:1rem;
	color: #19b1e9;
	outline: none;
	border-bottom: 1px solid #19b1e9;
}

.find button{
	background-color: #19b1e9;;
	border-style: none;
	width: 50px;
	height: 40px;
	cursor: pointer;
	font-weight: 700;
}

.find button:focus{
	outline: none;
}

.details{
	height: 320px;
	overflow-y: scroll;  /* le doy scroll a todo el contenedorr*/
}
/* entiendo pseudoelemento*/ 
/* doy caracteristicas al scroll 
en este cas oque no se vea sino bajo*/
.details::-webkit-scrollbar{
	width: 20px;
	background:none;
}
/* no se que interaccion tiene*/
.details::-webkit-scrollbar-thumb{
	background: rgba(29, 107, 143, 0);
	border-radius: 4px;
}
/* cuando toco el scroll le da color*/
.details::-webkit-scrollbar-thumb:hover{
	background:rgb(55, 54, 54)
}
/*contenedor primera lista */
.city-recently{
	margin-bottom: 20px;
	border-bottom: 2px solid #19b1e9; /* genera linea inferior*/
	padding-bottom: 20px;
}

.city-recently ul li{  /* 	quitamos de coracion lista*/
	list-style: none;
	padding: 5px 0;
}

.city-recently ul li a{
	transition: 0.3s;
}

.city-recently ul li a:hover{
	color: #19b1e9;
	font-size: 20px;
}

.weather-details{
	margin-bottom: 20px;
	border-bottom: 1px solid #19b1e9;
	padding-bottom: 20px;
}

.weather-details p{
	font-weight: bold;
	margin-bottom: 10px;
}

table{
	width: 100%;
}

table td{
	padding: 5px 0;
}

table td:nth-child(2){
	text-align: right;
	padding-right: 5px;
}